<styling>
- use tailwindcss for styling
- use shadcn-vue for ui
- do responsive design with mobile first approach 
</styling>

<code>
- use ?? where possible instead of ||
- DO NOT WRITE COMMENTS
</code>

<backend>
- use drizzle for database 
- try not to use relations() function. Use .references() instead
- use query builder for database queries
- You can search for db schema in server/schema folder
- check real schema content before writing any db related code
- use better-auth for authentication
- use nuxt for server-side logic
</backend>

<frontend>
- use nuxt for client-side logic
- for typization use server/schema folder and infers
- use computed values instead of function calls in templates
- use russian language for user displayable data 
- use `useState` for states in pages
- if you are using components from /components/ui folder do not import them use prefix <Ui...
</frontend>

<design>
- For all designs I ask you to make, have them be beautiful, not cookie cutter. Make webpages that are fully featured and worthy for production.
- Do not install other packages for UI themes, icons, etc unless absolutely necessary or I request them.
</design>